 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-shape-1 {
  height: 34px;
  width: 325px;
  margin: -30px auto 0 0;
}

.u-section-1 .u-group-elements-1 {
  width: 393px;
  min-height: 0;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 242px;
  height: 41px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-shape-3 {
  width: 324px;
  height: 40px;
  margin: 39px auto 0 0;
}

.u-section-1 .u-shape-4 {
  width: 333px;
  height: 40px;
  margin: 39px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 10px 72px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-1 .u-image-1 {
  min-height: 650px;
  background-image: url("fsdfdss.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 318px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 350px;
  }

  .u-section-1 .u-image-1 {
    min-height: 536px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 66px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 300px;
  }

  .u-section-1 .u-image-1 {
    min-height: 411px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: auto;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 207px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 43px;
  }

  .u-section-1 .u-shape-1 {
    width: 288px;
    margin-top: 123px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 385px;
    min-height: 427px;
    margin-top: -157px;
  }

  .u-section-1 .u-shape-2 {
    width: 249px;
    height: 34px;
    margin-top: 204px;
  }

  .u-section-1 .u-shape-3 {
    width: 279px;
    height: 34px;
    margin-top: -193px;
  }

  .u-section-1 .u-shape-4 {
    height: 34px;
    width: 383px;
    margin-top: 204px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 58px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -427px;
  }

  .u-section-1 .u-image-1 {
    min-height: 651px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 192px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 405px;
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 325px;
    margin-top: 0;
  }

  .u-section-1 .u-group-elements-1 {
    width: 338px;
    min-height: 346px;
    margin-top: -263px;
    margin-left: auto;
    margin-bottom: -229px;
  }

  .u-section-1 .u-shape-2 {
    width: 237px;
    margin-top: 31px;
  }

  .u-section-1 .u-shape-3 {
    width: 245px;
    margin-top: 34px;
  }

  .u-section-1 .u-shape-4 {
    height: 33px;
    width: 216px;
    margin-top: 31px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 97px;
    margin-left: 3px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -346px;
    margin-left: 3px;
  }

  .u-section-1 .u-image-1 {
    min-height: 385px;
    order: 0;
  }
} .u-section-2 {
  background-image: url("fsdfdss-20.png");
  background-position: 50% 11.62%;
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1943px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 598px;
  margin: 60px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 64px 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 368px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 0 4px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: none;
  margin: 20px 4px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 4px 0 0;
}

.u-section-3 .u-icon-2 {
  width: 16px;
  height: 22px;
}

.u-section-3 .u-icon-4 {
  width: 16px;
  height: 22px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 481px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 300;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-icon-6 {
  width: 16px;
  height: 22px;
}

.u-section-3 .u-icon-8 {
  width: 16px;
  height: 22px;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 30px auto 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 368px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-3 .u-text-10 {
  font-weight: 300;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-icon-11 {
  width: 16px;
  height: 22px;
}

.u-section-3 .u-icon-13 {
  width: 16px;
  height: 22px;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-11 {
  font-size: 1rem;
  font-weight: 300;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 314px 0 0;
}

.u-section-3 .u-group-elements-1 {
  width: 529px;
  min-height: 555px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 150px auto 60px;
}

.u-section-3 .u-text-12 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 0 49px 0 0;
}

.u-section-3 .u-text-13 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 0 116px 0 0;
}

.u-section-3 .u-text-14 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 31px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1859px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 397px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 303px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 20px;
    margin-right: 114px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1562px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1662px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3206px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 200px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: 46px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 340px;
    margin-top: 124px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 708px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 588px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-group-1 {
  width: 446px;
  min-height: 266px;
  height: auto;
  margin: 131px auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-4 .u-shape-1 {
  width: 396px;
  height: 40px;
  margin: 158px auto 0 0;
}

.u-section-4 .u-shape-2 {
  width: 386px;
  height: 41px;
  margin: -173px auto 0 0;
}

.u-section-4 .u-shape-3 {
  width: 299px;
  height: 40px;
  margin: 26px auto 0 0;
}

.u-section-4 .u-shape-4 {
  width: 426px;
  height: 40px;
  margin: 93px auto 0 0;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  background-image: none;
  margin: -264px 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 588px;
}

.u-section-4 .u-container-layout-3 {
  padding: 11px 30px;
}

.u-section-4 .u-form-1 {
  background-image: none;
  height: 479px;
  width: 510px;
  margin: 0;
}

.u-section-4 .u-label-1 {
  font-size: 1.25rem;
}

.u-section-4 .u-label-2 {
  font-size: 1.25rem;
}

.u-section-4 .u-label-3 {
  font-size: 1.25rem;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  padding: 10px 63px 10px 62px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-group-1 {
    width: 560px;
    min-height: 323px;
    margin-top: 146px;
    margin-left: 134px;
    height: auto;
  }

  .u-section-4 .u-shape-1 {
    width: 470px;
    margin-top: 197px;
  }

  .u-section-4 .u-shape-2 {
    width: 461px;
    margin-top: -201px;
  }

  .u-section-4 .u-shape-3 {
    width: 359px;
    margin-top: 41px;
  }

  .u-section-4 .u-shape-4 {
    width: 515px;
    margin-top: 116px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 4.5rem;
    margin-top: -313px;
    margin-right: 31px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 526px;
  }

  .u-section-4 .u-form-1 {
    height: 504px;
    width: 672px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1203px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 577px;
  }

  .u-section-4 .u-group-1 {
    width: 526px;
    min-height: 344px;
    margin-top: 160px;
    margin-left: auto;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 224px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -200px;
  }

  .u-section-4 .u-shape-4 {
    width: 507px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -317px;
    margin-right: 0;
  }

  .u-section-4 .u-form-1 {
    width: 526px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1263px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 583px;
  }

  .u-section-4 .u-group-1 {
    width: 513px;
    min-height: 347px;
    margin-left: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-4 .u-group-1 {
    min-height: 235px;
    width: 310px;
    margin: 127px 10px -17px auto;
  }

  .u-section-4 .u-shape-1 {
    height: 22px;
    width: 233px;
    margin-top: 134px;
  }

  .u-section-4 .u-shape-2 {
    height: 20px;
    width: 182px;
    margin-top: -57px;
  }

  .u-section-4 .u-shape-3 {
    height: 20px;
    width: 233px;
    margin-top: -60px;
  }

  .u-section-4 .u-shape-4 {
    height: 20px;
    width: 254px;
    margin-top: 96px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -158px;
    margin-right: 56px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 524px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-4 .u-form-1 {
    width: 320px;
  }

  .u-section-4 .u-btn-1 {
    letter-spacing: normal;
  }
}.div1 {
padding-right:5%;
}
.div2 {
padding-left:5%;
}
.div3{
padding-bottom:30px;
padding-top:30px;
}
.div{
margin:100px;
}